.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &__link {
    &:hover {
      transform: scale(1.2);
    }
  }

  @media (max-width: 470px) {
    flex-wrap: wrap;
  }
}
