@use '../../styles/variables' as *;
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  transform: translateX(100%);

  &--open {
    transform: translateX(0);
  }

  &__content {
    background: $color-primary;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__close {
    background: $color-light;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
    height: 280px;

    @media (max-width: 470px) {
      margin: 10px;
      gap: 20px;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ads {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__item {
    text-align: left !important;
    &:hover{
      color: $color-dark;
      cursor: pointer;
    }
  }

  &__subscribe-form {
    display: flex;
    gap: 10px;
  }

  &__input {
    width: 300px;
    height: 28px;
    border: none;
    background: unset;
    border-bottom: 1px solid $color-light;
    &::placeholder {
      color: $color-light;
    }
  }

  &__button {
    border-radius: 100px;
    width: 201px;
    height: 40px;
    background: $color-light;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-light;
      border: 1px solid $color-light;
    }
  }
}
