.news {
  &__tag {
    text-align: start;
    display: flex;
    padding-bottom: 30px;
    width: 1320px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }
  &__cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1320px;
    gap: 30px;
    row-gap: 60px;
  }
  &__trainers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;

    margin: 75px;
  }
}
