@use '../../styles/variables' as *;
.card {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    width: 360px;
  }
  @media (max-width: 370px) {
    width: 320px;
  }

  &__image-wrapper {
    position: relative;
  }
  &__image {
    width: 100%;
    height: 368px;
    object-fit: cover;
    display: block;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &--styled {
    height: 580px;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: $gradient-card;
      mix-blend-mode: multiply;
    }

    .card__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card__content {
      position: absolute;
      bottom: 0;
      padding: 15px;
      width: 100%;
      z-index: 2;
    }

    .card__title,
    .card__text,
    .card__tag,
    .card__date {
      color: $color-light;
    }
  }
}
