@use './variables' as *;
* {
  transition: all 0.5s ease 0s;
}

#root {
  min-height: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.nav-text {
  font-family: $font-family;
  color: $color-light;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.usual-text {
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: $color-light;
}

h1 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 40px;
  line-height: 112%;
  color: $color-light;
}
