@use './variables' as *;
* {
  transition: all 0.5s ease 0s;
}

#root {
  min-height: 100%;
}

._container {
  margin: 0 auto;
  max-width: map-get($container-max-widths, xl);

  @media (max-width: map-get($container-max-widths, m)) {
    max-width: map-get($container-max-widths, m);
  }

  @media (max-width: map-get($container-max-widths, s)) {
    max-width: map-get($container-max-widths, s);
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.no-scroll {
  overflow: hidden;
}
