@use './variables' as *;
* {
  transition: all 0.5s ease 0s;
}

#root {
  min-height: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.nav-text {
  font-family: $font-family;
  color: $color-light;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.usual-text {
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: $color-light;
}

h1 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 40px;
  line-height: 112%;
  color: $color-light;
}

.news-tag {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-dark;
}

.date {
  font-family: $font-family;
  font-weight: 300;
  font-size: 12px;
  color: $color-gray;
}

h2 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 112%;
  color: $color-light;
}

h3 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: $color-title;
}
h4 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: $color-dark;
}

h5 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-dark;
}

h6 {
  font-family: $font-family;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  color: $color-gray;
}

.font {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-light;
}

.font-menu {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $color-light;
  opacity: 0.7;
}

.font-ads{
  font-family: $font-family;
font-weight: 300;
font-size: 14px;
color: $color-light;
}