@use './variables' as *;
* {
  transition: all 0.5s ease 0s;
}

#root {
  min-height: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.no-scroll {
  overflow: hidden;
}
