$color-primary: rgba(240, 27, 13, 1);
$color-light: #fff;
$color-dark: rgba(0, 0, 0, 1);

$font-family: 'Roboto Flex', sans-serif;
$second-family: 'Manrope', sans-serif;
$third-family: 'Montserrat', sans-serif;
$fourth-family: 'Inter', sans-serif;

$container-max-widths: (
  s: 320px,
  m: 768px,
  xl: 1920px,
);
