$color-primary: rgba(192, 22, 10, 1);
$color-light: #fff;
$color-dark: rgba(0, 0, 0, 1);
$color-gray: #828282;
$color-title: rgba(31, 31, 31, 1);

$input-border-color-light: rgba(255, 255, 255, 0.3);

$overlay-bg-dark:rgba(63, 63, 63, 1);
$gradient-card: linear-gradient(rgba(32, 32, 32, 1), rgba(57, 57, 57, 0.36));
$gradient-header: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

$font-family: 'Roboto Flex', sans-serif;
$second-family: 'Manrope', sans-serif;
$third-family: 'Montserrat', sans-serif;
$fourth-family: 'Inter', sans-serif;

$container-max-widths: (
  s: 320px,
  m: 768px,
  xl: 1920px,
);
