@use '../../styles/variables' as *;

.social {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
    gap: 30px;

    @media (max-width: 768px) {
      padding: 70px 10px;
      gap: 10px;
    }
    @media (max-width: 760px) {
      flex-direction: column;
    }
  }

  &__links {
    width: 680px;
    height: 180px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    @media (max-width: 1200px) {
      width: 600px;
      gap: 20px;
    }
    @media (max-width: 768px) {
      width: 510px;
      gap: 10px;
    }
    @media (max-width: 760px) {
      flex-wrap: wrap;
      align-content: center;
      width: 100%;
    }
  }

  &__subscription {
    width: 680px;
    height: 180px;
    background-color: $color-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 1400px) {
      flex-direction: column;
      width: 400px;
      gap: 15px;
    }

    @media (max-width: 768px) {
      width: 225px;
    }
    @media (max-width: 760px) {
      width: 100%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 760px) {
      width: 100%;
    }
  }
  &__input {
    background-color: unset;
    border-bottom: 1px solid $input-border-color-light;
    width: 380px;

    @media (max-width: 768px) {
      width: 200px;
    }
  }
  &__button {
    border-radius: 100px;
    width: 201px;
    height: 40px;
    background: $color-primary;
    color: $color-light;
  }
}
