@use '../../styles/variables' as *;

.header {
  &__content {
    background: url('../../assets/header/bg.png');
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;

    @media (max-width: 320px) {
      min-height: auto;
      height: 250px;
      background: url('../../assets/header/bg-s.png');
    }
  }

  &__logo {
    padding-left: 20px;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72%;
      padding-top: 30px;
      @media (max-width: 1150px) {
        width: 90%;
      }
      @media (max-width: 320px) {
        padding-top: 20px;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    width: 690px;
    cursor: pointer;
    gap: 50px;

    &-list {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      @media (max-width: 1150px) {
        display: none;
      }
    }

    &-item {
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__burger {
    &-icon {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-line {
      border-radius: 2px;
      width: 48px;
      height: 1px;
      background: $color-light;
    }
  }

  &__headline {
    width: 640px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 320px) {
      padding: 20px;
      width: auto;
    }
  }

  &__sport-navigation {
    background-color: $color-primary;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

     @media (max-width: 320px) {
      height: 45px;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 50px;

      @media (max-width: 1150px) {
        gap: 25px;
      }
    }

    &-item {
      &:hover {
        color: $color-dark;
      }
    }
  }
}
