@use '../../styles/variables' as *;
.footer {
  &__content {
    background: $color-primary;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  &__ads {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__nav {
    color: $color-light;
  }

  &__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__company {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
