@use '../../styles/variables' as *;
.footer {
  &__content {
    background: $color-primary;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  &__ads {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    color: $color-light;
    display: flex;
    flex-direction: column;
  }
  &__nav {
    color: $color-light;
  }

  

  &__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
     font-family: $font-family;
    font-weight: 300;
    font-size: 12px;
    color: $color-light;
  }

  &__company {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: $font-family;
    font-weight: 300;
    font-size: 12px;
    color: $color-light;
  }
}
