.special {
  &__content {
    background: url('../../assets/special/bg.png');
    height: 536px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      height: 276px;
    }
  }
  &__text {
    padding-top: 100px;
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
